<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fuel_pulse.fuel_pulse">

    <queries>
        <!-- Allow querying for the LinkedIn app via its deep link scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="linkedin" />
        </intent>
        <!-- Allow querying for web URLs -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <!-- Optionally, explicitly query for the LinkedIn package -->
        <package android:name="com.linkedin.android" />
    </queries>

    <!-- Permissions should be declared directly under the manifest -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="SFPN SYSTEM"
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyARwoobQ7v--4GMOPHQ1H2oQiWnTdK3cBY" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Additional intent filter if required -->
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
